
.main{
    border: 1px solid  green;
    height: 100vh;
    background-color: rgb(140,60,20)
}

.left-sidebar{
     border: 2px solid black;
     position: absolute;
     left: 5%;
     top:8%;
     height: 80vh;
     width: 25%;
     padding-bottom: 5%;
     background-color: #fb922b;
     /* border-radius: 50px; */
}


.profile-picture{

     border: 2px solid black;
      height: 150px;
      width: 150px;
      border-radius: 50%;
       position: absolute;
       top:5%;
       left:25%
}
.user-name{
    border: 1px solid black;
    height: 2vh;
    width: 25vh;
    position: absolute;
    top: 26%;
    left: 15%;


}


.contacts-list{

     border: 1px solid black;
     height: 60vh;
     width: 30vh;
     position: absolute;
     top: 30%;
     left:7%
}

.right-sidebar{

    border: 2px solid red;
    position: absolute;
    top: 8%;
    left:30%;
    width: 63%;
    padding-bottom: 5%;
    
    height: 80vh;
    background-image: url("/images/miss-minutes-fingure.png");
    /* Do not change files url as it is automatically taken by the backend chat-app-server */
    background-repeat: no-repeat;
    background-color:rgb(230,231,231);
    background-position: center;
    opacity: 0.8;
    
}
.right-sidebar::before{
    content: "Welcome to  miss minutes chats";
    color: orange;
    font-size: 30px;
     display: block;
     text-align: center;
     

    
}




.chat-send-button{
    /* border: 2px solid slateblue; */
    height: 50px;
 
    margin-top: 77%;
    width: 80%;
    margin-left: 10%;
    /* border-radius: 50%; */
    
}
#chat-form{
    display: flex;
    justify-content: space-between;
    border-radius: 20%;
}

#chat-input{

    width: 87%;
    font-size: 20px;
    height: 50px;
    border: 1px blueviolet;
    border-radius: 0%;
  

}
button{

    width: auto;
    padding-left: 4%;
    padding-right: 4% ;
    font-size: 20px;
    background-color: rgb(40, 230, 34);
    border: 0px;
    border-radius: 6px;
    color: white;
    

}
