/* Targeting all HTML elements */
* {
  padding: 0;
  margin: 0;
  font-family: "Source Sans Pro", sans-serif;
}

/* CSS HEX */
:root {
  --sea-buckthorn: #fb922b;
  --paco: #4e1d13;
  --aths-special: #f0e7d7;
  --spicy-mix: #7c5040;
  --desert: #b1581b;
  --golden-tainoi: #fccb5b;
  --copper-canyon: #8c3c14;
  --pharlap: #a18174;
  --copper: #b57532;
}

/* Targeting the body element */

::-webkit-scrollbar {
  width: 10px;
  background: var(--aths-special);
}

::-webkit-scrollbar-button {
  display: block;
  background-color: var(--spicy-mix);
}

::-webkit-scrollbar-thumb {
  background: var(--paco);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--copper-canyon);
}
nav,
header,
main > article,
main > section,
footer > section {
  padding: 0 10%;
}
/* support chatbot */
#chatbot {
  min-height: 4%;
  min-width: 8%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7px;
  position: fixed;
  font-size: 100%;
  font-weight: bold;
  bottom: 0;
  right: 0;
  margin-right: 1%;
  margin-bottom: 1%;
  padding: 10px;
  color: white;
  background-color: var(--copper-canyon);
  border-radius: 30px;
  cursor: pointer;
}
#chatbot:hover {
  color: white;
  background: var(--paco);
}
#chatbot > i {
  font-size: x-large;
}
/* Navbar section */
nav {
  height: 90px;
  display: flex;
  justify-content: space-between;
  border-top: 5px solid var(--spicy-mix);
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  position: sticky;
  top: 0;
}
/* Navbar left */
.navbar_left {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  /* border: 1px solid red; */
  cursor: pointer;
}
.navbar_left img {
  max-width: 10vh;
}
.navbar_left span {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 200%;
  font-weight: bold;
  color: var(--paco);
}
/* Navbar right */
.navbar_right {
  min-width: 70%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  /* border: 1px solid green; */
}
.navbar_list {
  display: flex;
  gap: 20px;
  font-style: normal;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 600;
  color: rgb(71, 80, 86);
}
.navbar_list div {
  position: relative;
  cursor: pointer;
}

.navbar_list div::after {
  content: "";
  position: absolute;
  bottom: -4px; /* add a negative bottom value to move the line below the element */
  left: 0;
  width: 0;
  height: 2px;
  background-color: var(--spicy-mix);
  transition: width 0.3s ease-in-out;
  box-shadow: 0 4px 0 0 white; /* add a white box shadow to create the gap */
}
.navbar_list div:hover::after {
  width: 100%;
}
.navbar_list div > span {
  display: block;
  position: absolute;
  height: 3%;
  width: 3%;
  background-color: #4e1d13;
}

/* Navbar buttons */
.navbar_buttons {
  display: flex;
  gap: 10px;
}
.navbar_buttons button {
  color: var(--aths-special);
  background: var(--spicy-mix);
  border: 1px solid var(--paco);
  border-radius: 5px;
  padding: 10px;
}
.navbar_buttons button:hover {
  color: white;
  background: var(--paco);
}
/* Navbar wrapper */
#nav_wrapper {
  display: none;
}
#nav_wrapper ~ i {
  display: none;
}

/* Header section */
header {
  padding: 0 180px;
  display: flex;
  flex-direction: column;
  background-color: #ebecec;
  /* border: 1px solid red; */
  border-radius: 0 0 100px 100px;
}
.header_top {
  display: flex;
}

.header_top h1,
#main_article_1 > section > h1 {
  font-size: 40px;
  word-spacing: -1px;
  line-height: 100%;
  margin-top: 12%;
  color: rgba(1, 0, 0, 0.7);
}
.header_text {
  margin-top: 5%;
  line-height: 150%;
  margin-bottom: 2%;
}
.header_top p {
  word-spacing: 1px;
  color: #475056;
}
.header_top input {
  height: 50px;
  width: 300px;
  font-size: 100%;
  font-weight: bold;
  text-indent: 10px;
  border-radius: 5px;
  border: 1px solid var(--paco);
}
.header_top button {
  height: 50px;
  width: 200px;
  font-size: 100%;
  font-weight: bold;
  border: 1px solid var(--paco);
  border-radius: 5px;
  color: var(--aths-special);
  background-color: var(--spicy-mix);
  margin-bottom: 2%;
}
.header_top button:hover {
  color: white;
  background-color: var(--paco);
}
.header_top button ~ p {
  line-height: 150%;
}

.header_video {
  display: flex;
  margin: auto;
  padding-top: 6%;
  width: 80%;
}
iframe {
  width: 100%;
  height: 300px;
  border-radius: 5px;
}
.header_bottom {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 4%;
  /* border: 1px solid green; */
}
/* Main content section */
/* <!-- Main article 1 --> */
#main_article_1 {
  margin-top: 8%;
  display: flex;
  padding-bottom: 4%;
}
#main_article_1 i{
  color: var(--sea-buckthorn);
}
#main_article_1 > section > p {
  margin-top: 2%;
  width: 75%;
  text-align: justify;
  line-height: 150%;
  margin-bottom: 3%;
}
#main_article_1 > section > div {
  width: 75%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2px;
}

#main_article_1 > section > div > div {
  display: flex;
  gap: 10px;
  justify-content: center;
  padding: 10px;
}
#main_article_1 > section > div > div > div:nth-child(2) h4 {
  color: rgb(71, 80, 86);
}
#main_article_1 > section > div > div > div:nth-child(2) p {
  margin-top: 10px;
  line-height: 25px;
  color: rgb(71, 80, 86);
}
#main_article_1 > div{
  position: relative;
  margin: auto;
  z-index: -1;
}
#main_article_1 > div > img:nth-child(2) {
  position: absolute;
  width: 50%;
  top: 18%;
  left: -25.4%;
  z-index: 1;
}
/* <!-- Main article 2 --> */
#main_article_2 {
  background-color: #ebecec;
}
#main_article_2 > section {
  display: flex;
  border: 1px solid red;
}
#main_article_2 > div {
  border: 1px solid red;
  display: flex;
  gap: 10px;
  font-size: 100%;
  flex-wrap: wrap;
}
#main_article_2 > div > div {
  background-color: #475056;
}
/* <!-- Main article 3 --> */
#main_article_3 {
  display: flex;
}
/* <!-- Main section 1 --> */
#main_section_1 {
  display: flex;
  background-color: #ebecec;
  border: 1px solid red;
}
/* <!-- Main section 2 --> */
#main_section_2 {
  background-color: white;
}
#main_section_2 > div {
  display: flex;
}
#main_section_2 > div > div {
  display: flex;
  flex-direction: column;
}
/* <!-- Main section 3 --> */
#main_section_3 {
  background-color: #ebecec;
}
/* <!-- Main section 4 --> */
#main_section_4 {
  height: 350px;
  color: white;
  background-color: #4ea819;
  font-size: 120%;
  text-align: center;
}
#main_section_4 > button {
  height: 10%;
  min-width: 15%;
  color: white;
  border: 1px solid white;
  border-radius: 2px;
  background: transparent;
}

/* Footer section */
/* <!-- Footer section_1 --> */
#footer_section_1 {
}
/* <!-- Footer section_2 --> */
#footer_section_2 {
  background-color: #ebecec;
}
/* <!-- Footer section_3 --> */
#footer_section_3 {
  background-color: #d6d8d9;
}

/* Responsiveness */

/* large screen */
@media (max-width: 1185px) {
  nav,
  header,
  main > article,
  main > section,
  footer > section {
    padding: 0 50px;
  }

  .navbar_left {
    margin: auto;
  }
  .navbar_left img {
  }
  .navbar_left span {
  }
  .navbar_right {
    flex-direction: column;
    position: absolute;
    margin-top: 85px;
    padding-top: 10px;
    right: 0;
    left: 0;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px,
      rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px,
      rgba(0, 0, 0, 0.07) 0px 16px 16px;
    animation-name: slide-in;
    animation-duration: 0.3s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
  }
  @keyframes slide-in {
    from {
      top: -100px;
    }
    to {
      top: 0;
    }
  }
  .navbar_list {
    width: 100%;
    text-align: center;
    flex-direction: column;
  }
  .navbar_list div {
    padding: 10px;
    border-bottom: 1px solid rgba(78, 29, 19, 0.2);
  }

  /* Navbar buttons */
  .navbar_buttons {
    justify-content: space-evenly;
    padding: 30px 0;
  }
  .navbar_buttons button {
    width: 100%;
    max-width: 35%;
  }

  #nav_wrapper {
    position: absolute;
    top: 40px;
    left: 40px;
  }
  #nav_wrapper ~ i {
    position: absolute;
    top: 40px;
    right: 40px;
  }
  #nav_wrapper ~ i,
  #nav_wrapper {
    display: block;
    font-size: x-large;
    color: var(--spicy-mix);
    align-self: center;
  }

  /* header */
  header {
  }
  .header_top {
    flex-direction: column-reverse;
  }

  .header_top h1 {
    font-size: 30px;
  }
  .header_top > div:nth-child(1) {
    font-size: 100%;
    text-align: center;
  }
  .header_video {
    margin-top: 5%;
    margin: 0;
    width: 100%;
  }
  iframe {
    height: 70vh;
  }

  .header_bottom > img {
    width: 30%;
  }
  /* <!-- Main article 1 --> */
  #main_article_1 {
    flex-direction: column-reverse;
  }
}
/* medium screen  */
@media (max-width: 900px) {
  .header_top input {
    margin: auto;
    margin-top: 5%;
    margin-bottom: 3%;
    padding: 0;
    display: block;
    width: 90%;
  }
  .header_top button {
    margin: auto;
    display: block;
    width: 90%;
    margin-bottom: 5%;
  }

  /* <!-- Main article 1 --> */
  #main_article_1 > section > div {
    grid-template-columns: repeat(1, 1fr);
  }
  /* <!-- Main article 2 --> */
  #main_article_2 > section {
    flex-direction: column-reverse;
  }
  #main_article_3 {
    flex-direction: column;
  }
  /* Main section 1 */
  #main_section_1 {
    flex-direction: column;
  }
  /* Main section 2 */
  #main_section_2 > div {
    flex-direction: column;
  }
  #main_section_2 > div > div {
    flex-direction: row;
  }
  /* Main section 3 */
  /* Main section 4 */
}

/* small screen  */
@media (max-width: 500px) {
  nav,
  header,
  main > article,
  main > section,
  footer > section {
    padding: 0 5%;
  }

  .navbar_left {
    width: 100%;
  }
  .navbar_left img {
    width: 100%;
  }
  .navbar_left span {
    font-size: x-large;
  }

  #main_section_2 > div > div {
    flex-direction: column;
  }
}

/* extra small screen <--sharam kero itana chota mobile kyu lena bhai*/
@media (max-width: 425px) {
  .navbar_left span {
    display: none;
  }
}
