#project-page{
    width: 100%;
    background-color: rgb(197, 150, 106);
    height: fit-content;
}
#project-bar{
    display: flex;
    justify-content: space-between;
    padding: 20px 0px 20px 0px;
    height:60px;
    width: 95%;
    align-items: center;
}

#create{
    width: 125px;
    padding:5px 20px;
    background-color: white;
    color: rgb(221, 179, 106);
    border-radius: 5px;
    border: none;
    cursor: pointer;
    text-align: center;
}
#project_heading{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 25px;
    /* width: 58%; */
    /* border: 1px solid green; */
    margin-left: 5%;
}

#sort{
    width: 125px;
    background-color: white;
    color: rgb(221, 179, 106);
    height: 40px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}
#filter{
    width: 125px;
    padding:10px 20px;
    background-color: white;
    color: rgb(221, 179, 106);
    border-radius: 5px;
    border: none;
    cursor: pointer;
    text-align: center;
}

#projects-details {
    width: 98%;
    margin: 4% 1% 0% 1%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

#projects-details h2{
    margin-top: 10px;
    margin-left: 5px;
}
  
  .project_cards {
    width: 97.5%;
    padding: 2%;
    height: 110px;
    background-color: bisque;
  }
  
#projects-info{
    display: flex;
    justify-content: space-between;
    padding: 20px 0px 20px 0px;
    height:60px;
    width: 95%;
    align-items: center;
}
#see-datails{
    width: 150px;
    background-color: white;
    color: rgb(221, 179, 106);
    height: 50px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    margin-right: 2%;
    margin-top: 2%;
    margin-left: 2%
}
#project-table{
    margin-top: 3%;
    padding: 10px;
}
table {
    width: 99%;
    margin: auto;
    background-color: bisque;
    padding: 10px;
    margin-left: 0%;
}
tr{
    border: 1px solid red;
}
td {
    height: 50px;
    padding: 0 15px;
    border: 1px solid black;
}
.detailsbtn{
    margin-left: 17%;
    padding: 10px 25px;
    background-color: rgb(221, 179, 106);
    border: none;
    border-radius: 5px;
}
